*{
    box-sizing: border-box;
}

/* Estilos para el cuerpo del documento */
body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    font-family: Arial, sans-serif;    
    padding: 0;
}

/* Tamaños de fuente para diferentes encabezados */
h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h4{ font-size: 2em;}
p{ font-size: 1.25em;}
ul{ list-style: none;}
li{ font-size: 1.25em;}

/* Estilos para botones */
button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.5);
    box-shadow: 2px 2px 10px rgba(0,0,0,05);
    color: rgb(241, 238, 235);
    background-color: rgb(40, 149, 149);
    cursor: pointer;
    transition: background-color 0.3s ease;  
}

/* Cambio de color al pasar el cursor sobre el botón */
button:hover{
    background-color: rgb(42, 178, 178);
}

/* Estilos para el contenedor principal */
.container{
    max-width: 1400px;
    margin: auto;
}

header {
  background-color: #ffffff;
  color: #000000;
  padding: 20px 0;
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  margin: 0;  
  font-weight: bold;
  color: black;
  font-size: 2em;
  font-family: cursive;
  font-size: 24px;  
}

nav {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

nav a {
  margin-top: 1%;
  color: #000000;  
  text-decoration: none;  
  padding: 10px 15px;  
}
header a:hover{
  color: rgb(42, 178, 178);
}

nav button:hover {
  background-color: rgb(42, 178, 178);
}

 /* imagen y titulo de inicio */
#hero img{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center
    }

#hero-content {
    padding: 100px 20px;
  }
  
  
#hero h1 {
    margin-bottom: 20px;
    font-size: 48px;
  }
  
  
#hero p {
    font-size: 24px;
    margin-bottom: 30px;
}

 /* incertar iconos y la informacion */
#admistrar .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  #admistrar h2 {
    color: #000000;
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  #admistrar p {
    color: #666;
    font-size: 1em;
    margin-bottom: 20px;
  }
  
  #admistrar div[class^="img-"] {
    display: inline-block;
    width: 30%;
    margin: 10px;
    vertical-align: top;
  }
  
  #admistrar div[class^="img-"] h4 {
    color: #121212;
    font-size: 1.5em;
    margin-bottom: 5px;
  }
  
  #admistrar div[class^="img-"] p {
    color: #666;
    font-size: 1em;
  }
  
  /* Estilos para los íconos */
  #admistrar .img-camara:before,
  #admistrar .img-bateria:before,
  #admistrar .img-caja:before,
  #admistrar .img-mensaje:before,
  #admistrar .img-nube:before,
  #admistrar .img-bien:before {
    display: block;
    margin: 0 auto 10px;
    content: "";
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  #admistrar .img-camara:before {
    background-image: url('imagenes/Icon-camara.png');
  }
  
  #admistrar .img-bateria:before {
    background-image: url('imagenes/Icon-bateria.png');
  }

  #admistrar .img-caja:before {
    background-image: url('imagenes/Icon-caja.png');
  }

  #admistrar .img-mensaje:before {
    background-image: url('imagenes/Icon-mensaje.png');
  }

  #admistrar .img-nube:before {
    background-image: url('imagenes/Icon\ \ -\ nube.png');
  }
  
  #admistrar .img-bien:before {
    background-image: url('imagenes/Icon-bien.png');
  }
  
  /* Estilos para las líneas de color sobre las descripciones */
  #admistrar div[class^="img-"]::after {
    content: "";
    display: block;
    height: 4px;
    margin: 10px 0;
  }
  
  #admistrar .img-camara::after {
    background-color: rgb(254, 241, 0);
  }
  
  #admistrar .img-bateria::after {
    background-color:rgb(5, 168, 29);    
  }

  #admistrar .img-caja::after {
    background-color:rgb(237, 69, 69);    
  }

  #admistrar .img-mensaje::after {
    background-color:rgb(54, 14, 214);    
  }
  
  #admistrar .img-nube::after {
    background-color:rgb(106, 103, 255);    
  }

  #admistrar .img-bien::after {
    background-color:rgb(33, 238, 64);    
  }
 
/* crear cuenta estilos generales */
#crear-cuenta {
  font-family: Arial, sans-serif;
  background-image: url('imagenes/Image-registro.png'); 
  background-size: cover;
  background-position: center;  
  margin: 0;
  padding: 0;
}

#crear-cuenta {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container-crear {
  background-color: rgba(255, 255, 255, 0.9); 
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

#crear-cuenta h2 {
  color: #000000;
}


#crear-cuenta p {
  color: #515151;
}

button.google {
  background-color: #ffffff; 
  color: rgb(60, 58, 58);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  background-image: url('imagenes/Google\ Icon.png');
  margin-left: 5px;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: left center;
}

button.google:hover {
  background-color: #70cdd3; 
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  border: 1px solid #ffffffe6;
  border-radius: 5px;
  font-size: 16px;
}

.registro {
  margin-top: 20px;
}

.terms {
  color: #8888889a;
  font-size: 12px;
  margin-top: 20px;
}

#info {
  margin: 100px auto;
  width: 70%;
}

.img-info {
  max-width: 320px;
  float: left;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 10px;
  margin-right: 25px;
}

#info h2 {
  margin-top: 100px;
  font-size: 2.7em; 
  color: #000000; 
}

#info p {
  font-size: 1.25em; 
  color: #666; 
  margin-bottom: 60px; 
}

/* Testimonial Section */
.testimonial-container {
  padding: 50px 20px;
  background-color: #f9f9f9;
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.testimonial-card {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 20px;
  width: 300px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.testimonial-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.testimonial-card p {
  font-size: 1em;
  color: #333;
  margin-bottom: 10px;
}

.testimonial-author {
  font-size: 0.9em;
  color: #777;
  font-weight: bold;
}

.testimonial-card::before {
  content: '“';
  font-size: 4em;
  color:  rgb(40, 149, 149);
  position: absolute;
  top: -20px;
  left: 20px;
  z-index: -1;
}

.testimonial-card::after {
  content: '”';
  font-size: 4em;
  color:  rgb(40, 149, 149);
  position: absolute;
  bottom: -20px;
  right: 20px;
  z-index: -1;
}

/* Estilos para footer en general */
footer {
  background-color: #f9f9f9;
  padding: 40px 20px;
  border-top: 1px solid #ddd;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-column {
  flex: 1;
  min-width: 200px;
  margin: 20px;
}

.footer-column h3 {
  margin-bottom: 20px;
  font-size: 1.2em;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.footer-column ul li a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease;
}

.footer-column ul li a:hover {
  color:  rgb(40, 149, 149);
}

.footer-column form {
  display: flex;
  align-items: center;
}

.footer-column input[type="email"] {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  flex: 1;
  margin-right: 10px;
}

.footer-column button {
  padding: 10px 20px;
  background-color: rgb(40, 149, 149);
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.footer-column button:hover {
  background-color: rgb(77, 202, 202);
}

.footer-column .terms {
  margin-top: 10px;
  font-size: 0.9em;
}

.footer-column .terms a {
  text-decoration: none;
  color: #333;
}

.footer-column .terms a:hover {
  color: rgb(40, 149, 149);
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .footer-container {
      flex-direction: column;
      align-items: center;
  }

  .footer-column {
      max-width: 400px;
  }
}

@media screen and (max-width: 768px) {
  .container-header {
      flex-direction: column;
      align-items: flex-start;
  }

  .logo {
      margin-bottom: 10px;
  }

  nav {
      width: 100%;
  }
}
